# .dockerignore

# Игнорируем кэш питона
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем виртуальное окружение (очень важно, иначе образ будет весить гигабайты!)
venv/
env/
.venv/

# Игнорируем локальные данные и отчеты (они будут пробрасываться через volume)
data/

# Игнорируем файлы гита и IDE
.git/
.idea/
.vscode/

# Игнорируем служебные файлы, которые не нужны внутри контейнера для работы
README.md
docker-compose-up.yaml
Dockerfile